@CHARSET "UTF-8";

body { 
	font-family: arial;
	font-size: 14px;	
	background-color: #BDBDBD;
	}

#tudo {
	width: 800px;
	margin: 0 auto;
	}

#topo {
	background-color: #FFF;
	}

#menu {
	width: 800px;
	font-size: 18px;
	padding: 0 0 0.1px 0;
	}

#menu ul{
	padding: 0px;
	margin: 10px 7px;	
	}

#menu li {
	list-style: none;
	padding:10px 5px;
	display: inline;
	background: #D8D8D8;
	}
	
#corpo {
	background-color: #FFF;
	}
	
#rodape {
	background-color: #FFF;
	}

	