@CHARSET "UTF-8";

body { 
	font-family: arial;
	font-size: 14px;	
	background-color: #BDBDBD;
	}

#tudo {
	width: 800px;
	margin: 0 auto;
	}

#topo {
	background-color: #FFF;
	}

#menu {
	
	}
	
#corpo {
	background-color: #FFF;
	}
	
#rodape {
	background-color: #FFF;
	}

	